# 초보자를 위한 파이썬 300제

## 01. 파이썬 시작하기

In [14]:
print("Hello World")

Hello World

In [15]:
print ("신씨가 소리질렀다. ""도둑이야"".")

신씨가 소리질렀다. 도둑이야.

In [16]:
print("신씨가 소리질렀다. ""도둑이야"".")

신씨가 소리질렀다. 도둑이야.

In [17]:
print('신씨가 소리질렀다."도둑이야"')

신씨가 소리질렀다."도둑이야"

In [18]:
print("C:\Windows")

C:\Windows

In [19]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
# \n = 다음줄로
# \t = 탭 스페이스

In [21]:
print ("오늘은", "일요일")
#오늘은 일요일

오늘은 일요일

In [22]:
print ("오늘은","일요일")

오늘은 일요일

In [23]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [24]:
print("naver", "kakao", "sk", "samsung")

naver kakao sk samsung

In [25]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [26]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [29]:
print("first");print("second")

first
second

In [35]:
print("first",end="");print("second")

firstsecond

In [38]:
print(5/3)

1.6666666666666667

## 02. 파이썬 변수

In [40]:
# 011 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [ ]:
# 012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

항목	값
시가총액	298조
현재가	50,000원
PER	15.79

In [44]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [47]:
# 013 문자열 출력
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
# >> s = "hello"
# >> t = "python"
# 두 변수를 이용하여 아래와 같이 출력해보세요.

# 실행 예:
# hello! python

In [50]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [51]:
# 14 파이썬을 이용한 값 계산
a=2
b=2
c=3
a+b*c

8

In [53]:
# 15 type 함수
a = "132"
print(type(a))

<class 'str'>

In [55]:
# 16 문자열을 정수로 변환
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [60]:
# 17 정수를 문자열 100으로 변환
num_int = 100
result = str(num_int)
print(result, type(result))

100 <class 'str'>

In [76]:
del float

In [77]:
# 18문자열을 실수로 전환
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [69]:
# 19 문자열을 정수로 전환
year = 2020
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [72]:
# 20 파이썬 계산
할부금 = 48584
기간 = 36
할부금 * 기간

1749024

## 03. 파이썬 문자열

In [80]:
# 21 letter = 'python'
letters = 'python'
print(letters[0], letters[2])

p t

In [88]:
# 22 문자열 슬라이싱
num = "24가 2210"
print(num[4:])

2210

In [90]:
# 23 문자열 인덱싱
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [94]:
# 24 문자열 슬라이싱
string = "PYTHON"
print(string[::-1])

NOHTYP

In [102]:
# 25 문자열 치환
num = "010-1111-2222"
num1 = num.replace("-"," ")
print(num1)

010 1111 2222

In [115]:
# 26 문자열 다루기
num ="010-1111-2222"
num1 = num.replace("-","")
print(num1)

01011112222

In [116]:
# 27 문자열 다루기
url = "http://sharebook.kr"
print(url[-2:])

kr

In [122]:
del url

In [130]:
# 문자열로 표현된 url에서 '.'을 기준으로 분리한다. 분리된 url 중 마지막을 인덱싱하면 도메인만 출력할 수 있다.
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [133]:
url = "http://naver.com"
url_split = url.split('.')
print(url_split[-1])

com

In [141]:
# 28 문자열은 immutable
lang = 'python'
lang[0] ='P'
print(lang)

TypeError: 'str' object does not support item assignment

In [150]:
# 29 replace 메서드
string = 'abcdfe2a354a32a'
string1 = string.replace('a','A')
print(string1)

Abcdfe2A354A32A

In [149]:
#30 replace 메서드
string = 'abcd'
string1 = string.replace('b', 'B')
print(string1)

aBcd

In [151]:
#31 문자열 합치기
a = "3"
b = "4"
print(a+b)

34

In [155]:
#32 문자열 곱하기
print("Hi" * 3)

HiHiHi

In [157]:
#33 문자열 곱하기
print("-"*80)

--------------------------------------------------------------------------------

In [175]:
#34 문자열 곱하기
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3*4)

python java python java python java python java

In [177]:
#35 문자열 출력 % formatting
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [178]:
# 36 문자열 출력 format()
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [179]:
#37 문자열 출력 f-string
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [183]:
#38 컴마 제거하기
상장주식수 = "5,969,782,550"
상장주식수1 = 상장주식수.replace(',', '')
타입변환 = int(상장주식수1)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [186]:
#39 문자열 슬라이싱
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [187]:
#40 strip 메서드
data = "   삼성전자   "
data1 = data.strip()
print(data1)

삼성전자

In [188]:
#41 upper 메서드
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [189]:
#42 lower 메서드
ticker = "BTC_KRW"
ticker1 = ticker.lower()
print(ticker1)

btc_krw

In [191]:
#43 capitalize 메서드
word = "hello"
word1 = word.capitalize()
print(word1)

Hello

In [192]:
#44 endswith 메서드
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [194]:
#45 endswith 메서드
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [195]:
#46 startswith 메서드
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [197]:
#47 split메서드
a = "hello world"
a.split()

['hello', 'world']

In [200]:
#48 split 메서드
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [202]:
#49 split 메서드
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [203]:
#50 rsplit 메서드
data = "039490      "
data.rsplit()

['039490']

## 04. 파이썬 리스트

In [207]:
#51 리스트생성
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [210]:
#52 리스트에 원소 추가
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [216]:
#53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [213]:
#54
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
print(movie_rank)

['닥터 스트레인지', '스플릿', '배트맨']

In [215]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '스플릿', '배트맨']

In [220]:
#55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [226]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [230]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print("max:", max(nums))
print("min:", min(nums))

max: 7
min: 1

In [232]:
#58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [234]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [238]:
#60
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

In [239]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
del price[0]
print(price)

[100, 130, 140, 150, 160, 170]

In [240]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [242]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [244]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [245]:
#64
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [250]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [252]:
#66 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [253]:
#67 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [260]:
#68 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [263]:
#69 문자열 split 메서드
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [264]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [265]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

## 05. 파이썬 튜플

In [269]:
#71
my_variable = ()

In [270]:
print(type(my_variable))

<class 'tuple'>

In [271]:
#72
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [273]:
#73
my_tuple = (1)
type(my_tuple)

int

In [275]:
#74  이해가 잘 가지 않는다
t=(1,2,3)
t[0]='a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4011687300.py, line 3)

In [278]:
#75
t = 1, 2, 3, 4
type(t)

tuple

In [280]:
#76
t = ('a', 'b', 'c')
t = ('A', 'B', 'C')
print(t)

('A', 'B', 'C')

In [285]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)

In [286]:
#78
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = tuple(interest)

In [287]:
#79 튜플 언팩킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [289]:
#80 range 함수
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
### 2024 06 12 03:17 부랴부랴 헐레벌떡 으쌰으쌰

## 파이썬 딕셔너리

In [5]:
# 081 별 표현식
a, b, *c = (0, 1, 2, 3, 4, 5)
a

0

In [6]:
b

1

In [7]:
c

[2, 3, 4, 5]

In [10]:
print(c)

[2, 3, 4, 5]

In [12]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_scored,_,_=scores
print(valid_scored)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [13]:
# 082
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, _, *valid_score=scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [14]:
# 083
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score, _=scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [15]:
# 084 비어있는 딕셔너리
temp = { }

In [16]:
# 085
ice_cream = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [19]:
# 086
ice_cream = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
ice_cream["죠스바"] = 1200
ice_cream["월드콘"] = 1500
print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [20]:
# 087
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [27]:
# 088
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice["메로나"] = 1300
print(ice["메로나"])

1300

In [28]:
# 089
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [29]:
# 090
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

SyntaxError: invalid syntax (267941083.py, line 2)

In [30]:
# 091 딕셔너리 생성
inventory={"메로나": [300,20], "비비빅": [400, 3], "죠스바": [250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [36]:
# 092 딕셔너리 인덱싱
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][0], "원")

300 원

In [45]:
# 093 딕셔너리 인덱싱
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][1], "개")

20 개

In [42]:
# 094 딕셔너리 추가
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [51]:
# 095 딕셔너리 keys() 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [52]:
icecream.keys?

Docstring: D.keys() -> a set-like object providing a view on D's keys
Type:      builtin_function_or_method

In [58]:
# 096 딕셔너리 values() 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

In [54]:
# 097 딕셔너리 values() 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [59]:
# 098 딕셔너리 update 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [60]:
# 099 zip과 dict
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [62]:
# 100 zip과 dict
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

## 07. 파이썬 분기문

In [ ]:
# 101
파이썬에서 True 혹은 False를 갖는 데이터 타입은 'bool'

In [64]:
# 102
print(3 == 5)

False

In [65]:
#  103
print(3 < 5)

True

In [66]:
# 104
x = 4
print(1 < x < 5)

True

In [73]:
# 105
print ((3 == 3) and (4 != 3))

True

In [78]:
# 106
print(3 => 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2490094452.py, line 2)

In [81]:
# 107
if 4 < 3:
    print("Hello World")

In [82]:
# 108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [83]:
# 109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [84]:
# 110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [86]:
# 111
user = input("입력: ")
print(user *2)

입력:  가나

가나가나

In [87]:
# 112
user = input("입력: ")

print(int(user) +10)

입력:  40

50

In [89]:
# 113
user = input("")
if int(user) %2 ==0:
    print("짝수")
else:
    print("홀수")

 5

홀수

In [93]:
#114
user = input("입력값: ")
num=20+int(user)
if num > 255:
    print("255")
else:
    print(num)

입력값:  280

255

In [99]:
#115
user = input("입력값: ")
num = int(user) - 20
if num < 0:
    print(0)
elif num > 255:
    print(255)
else:print(num)

입력값:  300

255

In [101]:
#116
user = input("현재시간: ")
if user[-2:] == "00":
    print("정각입니다.")
else:
    print("정각이 아닙니다.")

현재시간:  03:00

정각입니다.

In [106]:
#117
fruit = ["사과", "포도", "홍시"]
user = input("장바구니에 있는 과일은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

장바구니에 있는 과일은:  망고

오답입니다.

In [111]:
# 118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("입력하신 종목은 ")
if user in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

입력하신 종목은  samsung

투자 경고 종목이 아닙니다.

In [118]:
# 119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("스키장을 운영하지않는 계절은? ")
if user in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다.")

스키장을 운영하지않는 계절은?  겨울

오답입니다.

In [116]:
# 120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은? ")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?  배

오답입니다.

In [129]:
# 121

user = input("")

if len(user) > 1:
    print("한 문자만 작성해주세요.")
elif user.islower():
    print(user.upper())
else:
    print(user.lower())

 ab

한 문자만 작성해주세요.

In [124]:
# 121

user = input("")

if user.islower():
    print(user.upper())
else:
    print(user.lower())

 aBc

abc

In [133]:
# 122
score = input("score: ")

score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
elif 1 <= score <= 20:
    print("grade is E")

score:  59

grade is C

In [134]:
# 123 다시보기다시보기다시보기!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
환율 = {"달러":	1167, "엔":	1.096, "유로":	1268, "위안":	171}
data = input("입력: ")
tokens = data.split()
amount, currency = tokens

if currency = '달러'
    print()

KeyboardInterrupt: Interrupted by user

In [139]:
# 124
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 > num2 and num1 > num3:
    print(num1)
elif num2 > num1 and num2 > num3:
    print(num2)
else: print(num3)

input number1:  2
input number2:  3
input number3:  4

4

In [146]:
#125
num = input("번호: ")

if num[:3] == "011":
    print("당신은 SKT 사용자입니다.")
elif num[:3] == "016":
    print("당신은 KT 사용자입니다.")
elif num[:3] == "019":
    print("당신은 LGU 사용자입니다.")
else:
    print("통신사를 알수 없는 사용자입니다.")

번호:  01927327637

당신은 LGU 사용자입니다.

In [151]:
#126
zipcode = input("우편번호: ")

if zipcode[:3] in ["010", "011", "012"]:
    print("강북구")
elif zipcode[:3] in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호:  01299

강북구

In [156]:
# 127
number = input("주민등록번호: ")
num = number.split("-")[1]

if num[0] == "1" or num[0] == 3:
    print("남자")
else:
    print("여자")

주민등록번호:  930831-2981234

여자

In [163]:
# 128
주민번호 = input("주민등록번호: ")
주번 = 주민번호.split("-")[1]

if 0 <= int(주번[1:3]) <= 8:
    print("서울 입니다.")
else:
    print("서울이 아닙니다")

주민등록번호:  930831-1020000

서울 입니다.

In [166]:
# 129  해결안됨.........................................

num = input("주민등록번호: ")
calc1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + int(num[5]) * 7 + int(num[6]) * 8 + int(num[7]) * 9 + int(num[8]) * 2 + int(num[9]) * 3 + int(num[10]) * 3 + int(num[11]) * 4 + int(num[12]) * 5
calc2 = 11-(calc1 % 11)
calc3 = str(clac2)

if num[-1] == calc3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호:  930831-2929292

ValueError: invalid literal for int() with base 10: '-'

In [169]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호:  930831-1000000

유효한 주민등록번호입니다.

In [168]:
# 130 

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [ ]:
# 2024.06.13 03:03 오늘도 최후의 2인... 분발하자~~~~~~~~~~~~