# 초보자를 위한 파이썬 300제

## 01. 파이썬 시작하기

In [14]:
print("Hello World")

Hello World

In [15]:
print ("신씨가 소리질렀다. ""도둑이야"".")

신씨가 소리질렀다. 도둑이야.

In [16]:
print("신씨가 소리질렀다. ""도둑이야"".")

신씨가 소리질렀다. 도둑이야.

In [17]:
print('신씨가 소리질렀다."도둑이야"')

신씨가 소리질렀다."도둑이야"

In [18]:
print("C:\Windows")

C:\Windows

In [19]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
# \n = 다음줄로
# \t = 탭 스페이스

In [21]:
print ("오늘은", "일요일")
#오늘은 일요일

오늘은 일요일

In [22]:
print ("오늘은","일요일")

오늘은 일요일

In [23]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [24]:
print("naver", "kakao", "sk", "samsung")

naver kakao sk samsung

In [25]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [26]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [29]:
print("first");print("second")

first
second

In [35]:
print("first",end="");print("second")

firstsecond

In [38]:
print(5/3)

1.6666666666666667

## 02. 파이썬 변수

In [40]:
# 011 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [ ]:
# 012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

항목	값
시가총액	298조
현재가	50,000원
PER	15.79

In [44]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [47]:
# 013 문자열 출력
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
# >> s = "hello"
# >> t = "python"
# 두 변수를 이용하여 아래와 같이 출력해보세요.

# 실행 예:
# hello! python

In [50]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [51]:
# 14 파이썬을 이용한 값 계산
a=2
b=2
c=3
a+b*c

8

In [53]:
# 15 type 함수
a = "132"
print(type(a))

<class 'str'>

In [55]:
# 16 문자열을 정수로 변환
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [60]:
# 17 정수를 문자열 100으로 변환
num_int = 100
result = str(num_int)
print(result, type(result))

100 <class 'str'>

In [76]:
del float

In [77]:
# 18문자열을 실수로 전환
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [69]:
# 19 문자열을 정수로 전환
year = 2020
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [72]:
# 20 파이썬 계산
할부금 = 48584
기간 = 36
할부금 * 기간

1749024

## 03. 파이썬 문자열

In [80]:
# 21 letter = 'python'
letters = 'python'
print(letters[0], letters[2])

p t

In [88]:
# 22 문자열 슬라이싱
num = "24가 2210"
print(num[4:])

2210

In [90]:
# 23 문자열 인덱싱
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [94]:
# 24 문자열 슬라이싱
string = "PYTHON"
print(string[::-1])

NOHTYP

In [102]:
# 25 문자열 치환
num = "010-1111-2222"
num1 = num.replace("-"," ")
print(num1)

010 1111 2222

In [115]:
# 26 문자열 다루기
num ="010-1111-2222"
num1 = num.replace("-","")
print(num1)

01011112222

In [116]:
# 27 문자열 다루기
url = "http://sharebook.kr"
print(url[-2:])

kr

In [122]:
del url

In [130]:
# 문자열로 표현된 url에서 '.'을 기준으로 분리한다. 분리된 url 중 마지막을 인덱싱하면 도메인만 출력할 수 있다.
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [133]:
url = "http://naver.com"
url_split = url.split('.')
print(url_split[-1])

com

In [141]:
# 28 문자열은 immutable
lang = 'python'
lang[0] ='P'
print(lang)

TypeError: 'str' object does not support item assignment

In [150]:
# 29 replace 메서드
string = 'abcdfe2a354a32a'
string1 = string.replace('a','A')
print(string1)

Abcdfe2A354A32A

In [149]:
#30 replace 메서드
string = 'abcd'
string1 = string.replace('b', 'B')
print(string1)

aBcd

In [151]:
#31 문자열 합치기
a = "3"
b = "4"
print(a+b)

34

In [155]:
#32 문자열 곱하기
print("Hi" * 3)

HiHiHi

In [157]:
#33 문자열 곱하기
print("-"*80)

--------------------------------------------------------------------------------

In [175]:
#34 문자열 곱하기
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3*4)

python java python java python java python java

In [177]:
#35 문자열 출력 % formatting
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [178]:
# 36 문자열 출력 format()
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [179]:
#37 문자열 출력 f-string
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [183]:
#38 컴마 제거하기
상장주식수 = "5,969,782,550"
상장주식수1 = 상장주식수.replace(',', '')
타입변환 = int(상장주식수1)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [186]:
#39 문자열 슬라이싱
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [187]:
#40 strip 메서드
data = "   삼성전자   "
data1 = data.strip()
print(data1)

삼성전자

In [188]:
#41 upper 메서드
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [189]:
#42 lower 메서드
ticker = "BTC_KRW"
ticker1 = ticker.lower()
print(ticker1)

btc_krw

In [191]:
#43 capitalize 메서드
word = "hello"
word1 = word.capitalize()
print(word1)

Hello

In [192]:
#44 endswith 메서드
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [194]:
#45 endswith 메서드
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [195]:
#46 startswith 메서드
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [197]:
#47 split메서드
a = "hello world"
a.split()

['hello', 'world']

In [200]:
#48 split 메서드
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [202]:
#49 split 메서드
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [203]:
#50 rsplit 메서드
data = "039490      "
data.rsplit()

['039490']

## 04. 파이썬 리스트

In [207]:
#51 리스트생성
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [210]:
#52 리스트에 원소 추가
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [216]:
#53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [213]:
#54
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
print(movie_rank)

['닥터 스트레인지', '스플릿', '배트맨']

In [215]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '스플릿', '배트맨']

In [220]:
#55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [226]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [230]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print("max:", max(nums))
print("min:", min(nums))

max: 7
min: 1

In [232]:
#58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [234]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [238]:
#60
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

In [239]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
del price[0]
print(price)

[100, 130, 140, 150, 160, 170]

In [240]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [242]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [244]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [245]:
#64
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [250]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [252]:
#66 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [253]:
#67 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [260]:
#68 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [263]:
#69 문자열 split 메서드
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [264]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [265]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

## 05. 파이썬 튜플

In [269]:
#71
my_variable = ()

In [270]:
print(type(my_variable))

<class 'tuple'>

In [271]:
#72
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [273]:
#73
my_tuple = (1)
type(my_tuple)

int

In [275]:
#74  이해가 잘 가지 않는다
t=(1,2,3)
t[0]='a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4011687300.py, line 3)

In [278]:
#75
t = 1, 2, 3, 4
type(t)

tuple

In [280]:
#76
t = ('a', 'b', 'c')
t = ('A', 'B', 'C')
print(t)

('A', 'B', 'C')

In [285]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)

In [286]:
#78
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = tuple(interest)

In [287]:
#79 튜플 언팩킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [289]:
#80 range 함수
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
### 2024 06 12 03:17 부랴부랴 헐레벌떡 으쌰으쌰